<nav class="bg-slate-900 text-white shadow-lg fixed top-0 w-full z-50">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center h-16">

      <div class="text-xl font-bold">
        NUESTRO<span class="text-blue-400">PORTAFOLIO</span>
      </div>

      <div class="flex gap-4">
        <a routerLink="/" class="hover:text-blue-400">Inicio</a>
        <a routerLink="/developers" class="hover:text-blue-400">Programadores</a>
        <a routerLink="/projects" class="hover:text-blue-400">Proyectos</a>
        <a routerLink="/services" class="hover:text-blue-400">Servicios</a>
        <a routerLink="/login" class="hover:text-blue-400">Login</a>
      </div>

    </div>
  </div>
</nav>